
<div class="row">
    <div class="col-xs-12">
        <h2>Inventory</h2>
        <div id="items"></div>
    </div>
    <div class="col-xs-12">
        <h2>Purchase</h2>
        <p>
            <span class="">Item Name:</span>
            <input type="text" id="txtProductName" /> &nbsp;
            <button id="btnBuy" class="btn btn-success">Buy</button>
            <div id="result" class="well well-sm"></div>
        </p>
        <p>
            <b>API Key:</b>
            <input type="text" id="txtAPIkey" />
        </p>
        <p>
            <span class="instructions">Use the following API key to test authentication</span>
        </p>
        <p>
            <span class="instructions">790EF0D3-5A9F-4437-A594-59D18B60866B</span>
        </p>
    </div>
    <div class="col-xs-12">
        <h2>The API</h2>
        <p>
            Call the API directly by using the above URL + "/api/items" to get all available items
        </p>
    </div>
</div>