<div class="row">
    <div class="col-xs-12">
        <h2>Inventory</h2>
        <div id="items"></div>
    </div>
    <div class="col-xs-12">
        <h2>Purchase</h2>
        <p>
            <table class="table">
                <tr>
                    <td>Item Name:</td>
                    <td><input type="text" id="txtProductName" /></td>
                </tr>
                <tr>
                    <td>API Key:</td>
                    <td><input type="text" id="txtAPIkey" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span class="instructions">Use the following API key to test authentication:<br />790EF0D3-5A9F-4437-A594-59D18B60866B</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button id="btnBuy" class="btn btn-success">Buy</button></td>
                </tr>
            </table>            
        </p>
        <div id="result" class="well well-sm"></div>
    </div>
</div>