<div class="row">
    <div class="col-md-6">
        <h2>Inventory</h2>
        <p>Press the button to view the current inventory.</p>
        <p>Purchases affect the inventory.</p>
        <p><button class="btn btn-success">Show current inventory</button></p>
    </div>
    <div class="col-md-6">
        <h2>Purchase</h2>
        <p>
            <span class="">Item Name:</span>
            <input type="text" id="txtProductName" />
        </p>
        <p>
            <b>API Key:</b>
            <input type="text" id="txtAPIkey" />
        </p>
        <p>
            <span class="instructions">Use 790EF0D3-5A9F-4437-A594-59D18B60866B to test authentication</span>
        </p>
        <p><button class="btn btn-success">Buy</button></p>
    </div>
</div>
